- Ensure that you are always following best coding practices.
- Write human readable, maintable and efficient code.
- Adhere to best security practices.
- Document code with clear explanations.
- Ensure to write appropriate logging for error handling and general debugging.